

#container {}

h1, h1 i {
  text-align: center;
  color: white;
}

#heading {
  background-color: navy;
}

#formdiv {
  text-align: center;
  background-color: darkgray;
}

#row1{
  text-align: center;
  background-color: gray;
}
#row2{
  text-align: center;
  background-color: gray;
}

#row3{
  text-align: center;
    border-width: 5pt;
    border-style: solid;
    border-color: goldenrod;
    background: linear-gradient(to right, rgb(255, 197, 0), rgb(194, 21, 0));
    border-radius: 20px;
}

#left, #right {
  text-align: center;
  vertical-align: middle;
}

#middle {}

#coverImage {
  -webkit-box-shadow: 10px 10px 5px #333;
  box-shadow: 10px 10px 5px #333;
}

#qrImage {
  -webkit-box-shadow: -10px 10px 5px #333;
  box-shadow: -10px 10px 5px #333;
  height: 250px;
}

#line1 {
  font-size: 18pt;
  font-weight: bold;
  text-shadow: 1px 1px 1px #4D4A41;
}

#line2 {
  font-size: 16pt;
  font-weight: bold;
  color: #222;
}

#itemTitle {
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 36pt;
  font-weight: bold;
  text-shadow: 1px 1px 2px #fff;
}

#shortURL {
  font-size: 14pt;
}

#formdiv, #heading, #main, #mainrow {
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
