#container {}

h1, h1 i {
  text-align: center;
  color: white;
}

#row2, #row1, #row3 {
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#row1 {
  background-color: navy;
  margin: 1em;
}

#row2 {
  background-color: gray;
    margin: 1em;
}

#row3 {
    margin: 1em;
  text-align: center;
  border-width: 5pt;
  border-style: solid;
  border-color: goldenrod;
  background: linear-gradient(to right, rgb(255, 197, 0), rgb(194, 21, 0));
  min-height: 300px;
}

.sqdiv {
  width: 250px;
  height: 250px;
  padding: auto;
  margin: auto;
  border: 0;
  text-align: center;
}

#left, #right {
  text-align: center;
  vertical-align: middle;
}

#middle {}

#coverImage {
  -webkit-box-shadow: 10px 10px 5px #333;
  box-shadow: 10px 10px 5px #333;
  height: 250px;
}

#qrImage {
  -webkit-box-shadow: -10px 10px 5px #333;
  box-shadow: -10px 10px 5px #333;
  height: 250px;
}

#line1 {
  font-size: 18pt;
  font-weight: bold;
  text-shadow: 1px 1px 1px #4D4A41;
}

#line2 {
  font-size: 16pt;
  font-weight: bold;
  color: #222;
}

#itemTitle {
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 32pt;
  font-weight: bold;
  text-shadow: 1px 1px 2px #fff;
  line-height: 1.2;
}

#shortURL {
  font-size: 14pt;
}
